.home {
  width: 100%;
  height: 100vh;
  position: relative;
}

.home__info {
  position: absolute;
 background: linear-gradient(211deg,transparent, rgba(0, 0, 0, 0.701), #000);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.details--info {
  background: #E50914;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 3px 10px;
}

.read__more{
  color: #E50914;
  font-weight: bold;
  cursor: pointer;
}

.back__icon .MuiSvgIcon-root{
  color: #fff;
}

.home__btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.home__btn button {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 17px;
  transition: 0.2s;
  padding: 12px 30px;
  box-shadow: rgba(0, 0, 0, 0.801) 0 3px 5px;
  border-radius: 3px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 6px;
  cursor: pointer;
}

.movie_btn {
  padding: 12px 15px;
  background: #fff;
  font-size: 24px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 3px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E50914;
}

.back {
  position: absolute;
  top: 1rem;
  left: 3rem;
  z-index: 2;
}

.back__icon {
  position: absolute;
  top: 1rem;
  left: 3rem;
}

.back .MuiSvgIcon-root {
  font-size: 30px;
}

.back__icon {
  z-index: 100;
}

.back .MuiSvgIcon-root {
  color: #fff;
}

.home__content {
  position: absolute;
  left: 3rem;
  bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home__content p {
  font-size: 17px;
  max-width: 650px;
  margin-top: 0;
  margin-bottom: 12px;
  line-height: 24px;
}

.home__content h1 {
  margin: 20px 0;
}

.pop_up {
  z-index: 1100;
  position: relative;
  width: 100%;
  max-width: 900px;
  overflow: hidden;
  padding-top: 56.25%;
}

.pop_up iframe {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pop_back {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  z-index: -1;
}

.pop_back_open {
  display: flex;
  z-index: 1100;
}

@media (max-width: 950px) {
  .home__content {
    left: 2rem;
  }

  .back,
  .back__icon {
    left: 2rem;
  }
}

@media (max-width: 600px) {
  .home__content {
    padding-top: 20rem;
    left: 1rem;
  }

  .home__content p {
    font-size: 15px;
    padding-right: 6px;
  }

  .home__btn button {
    padding: 10px;
    font-size: 15px;
  }

  .back,
  .back__icon {
    left: 1rem;
  }
}

@media (max-width: 300px) {
  .home__content {
    bottom: 5rem;
  }
}


.play{
  border-radius: 50%;
  position: absolute;
  top: 2rem;
  right: 3rem;
  box-shadow: rgba(31, 30, 30, 0.801) 0 2px 10px;
}


.play .MuiSvgIcon-root{
  color: #fff;
}