.banner {
    width: 100%;
    height: 550px;
    top: 0;
    left: 0;
    z-index: -1;
    margin-top: -5rem;
    position: relative;
    z-index: 1;
}


.banner__info {
    padding-left: 5rem;
    padding-top: 12rem;
    background: linear-gradient(267deg, transparent, rgba(0, 0, 0, 0.701), #000);
    width: fit-content;
    height: 80%;
    z-index: 1100;
}

.banner__info h3 {
    font-size: 35px;
    margin: 5px 0;
}


.banner__info h4 {
    color: #fff;
    margin: 10px;
}


.banner__info .point {
    color: #E50914;
}

.banner__del {
    display: flex;
    gap: 5px;
}



.btn button {
    padding: 10px 30px;
    border: none;
    background: #E50914;
    font-family: Montserrat;
    text-transform: capitalize;
    font-size: 16px;
    margin: 5px 7px;
    font-weight: bold;
    transition: .2s;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.banner__info .btn .btn_2 {
    background: rgb(255, 255, 255);
    color: #E50914;
}


.banner__info p {
    max-width: 700px;
}

.fade__button {
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 13rem;
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.821), rgba(0, 0, 0, 0.881));
}










/* responsive design */


@media (max-width:800px) {


    .banner__info {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        padding-top: 12rem;
    }


    .banner__info h3 {
        font-size: 24px;
    }

    .banner__info p {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        max-width: 500px;
    }
}



@media (max-width:400px) {




    .banner__info h3 {
        font-size: 20px;
    }

    .banner__info p {
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
    }
}