@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-weight: bold;
  background: #000;
  color: #fff;
}


::-webkit-scrollbar{
  display: none;
  scroll-behavior: smooth;
  width: 5px;
  height: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background: rgb(36, 35, 35);
}

::-webkit-scrollbar-track{
  background:  rgba(17, 17, 17, 0.552)
}