.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 3rem;
  z-index: 1100;
  position: relative;
}

.nav_logo img {
  width: 130px;
}

.user img {
  border-radius: 50%;
  width: 60px;
}

.search__container {
    z-index: 100;
  width: 100%;
  height: 55px;
  background: rgba(0, 0, 0, 0.378);
  backdrop-filter: blur(10px);
  display: none;
  align-items: center;
  box-shadow: rgba(30, 29, 29, 0.581) 0 3px 10px;
  border-radius: 2px;
  padding-left: 10px;
  cursor: pointer;
  position:fixed;
  top: 0;
  left: 0;
  transition: .2s;
}

.search__show{
  display: flex;
}

.search__container .MuiSvgIcon-root {
  color: #E50914;
}

.search__container input {
  width: 100%;
  border: none;
  outline: none;
  font-family: Montserrat;
  font-size: 16px;
  height: 100%;
  background: none;
  padding-left: 8px;
  color: #fff;
  font-weight: bold;
}

.pop{
  padding-right: 1.50rem;
}

.search__container input::placeholder {
  color: #fff;
}

.search__btn {
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.378);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(30, 29, 29, 0.581) 0 3px 10px;
  cursor: pointer;
  border-radius: 50%;
}


.close{
    background: rgba(0, 0, 0, 0.378);
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    transition: .3s;
    cursor: pointer;
    overflow-y: scroll;
}



.close__show{
  display: block;
}

.search__btn .MuiSvgIcon-root{
    font-size: 25px;
}
@media (max-width: 800px) {
  .nav {
    padding: 15px 1rem;
  }

}


