
.list {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    z-index: 1;
  }

  .link{
   background: #000;
  }
  
  .row{
    margin-top: 1rem;
    position: relative;
    margin-top: -4rem;
    padding: 2rem 0;
    padding-left: 1rem;
    z-index: 100;
}

  .row h3{
    font-size: 23px;
    margin: 10px 0;
    margin-left: 1.90rem;
    text-transform: uppercase;
  }


  
  .list::-webkit-scrollbar {
    width: 5px;
    scroll-behavior: smooth;
  }

 .list img{
    object-fit: contain;
    margin: 0 10px;
    cursor: pointer;
    transition: .4s;
    border-radius: 2PX;
    max-height: 300px;
}

.list img:hover{
    transform: scale(1.1);
}



@media (max-width:800px) {
  .row{
    padding-left: 0;
  }
}





  .button{
    display: flex;
    align-items: center;
    display: none;
    transition: .1s;
    margin: 0 5px;
    z-index: 1100;
  }
  
  .button .after , .button .before{
    background: rgba(26, 25, 25, 0.371);
    width: 35px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100px;
    cursor: pointer;
  }

  .button .MuiSvgIcon-root{
    font-size: 25px;
  }

  .before{
    margin-right: auto;
    left: 0;
    
  }

  .after{
    margin-left: auto;
    right: 0;
  }

  .row:hover .button{
    display: block;
  }

  .bigPoster:hover .button{
    display: block;
  }