
.list {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
  }

.row{
    margin-top: 1rem;
    margin-top: -4rem;
    padding: 2rem 0;
    padding-left: 1rem;
}

  .row h3{
    font-size: 23px;
    margin: 8PX 0;
    margin-left: 1rem;
    text-transform: uppercase;
  }
  
  .list::-webkit-scrollbar {
    display: none;
  }

 .list img{
    width: 100%;
    object-fit: contain;
    margin: 0 10px;
    cursor: pointer;
    transition: .4s;
    max-height: 300px;
    border-radius: 2PX;
}

.list img:hover{
    transform: scale(1.1);
}



@media (max-width:800px) {
  .row{
    padding-left: 3px;
  }
}

.list .bigPoster{
    max-height: 250px;
}



@media (max-width:800){
    .row{
        padding-left: 3px;
    }

  }
