.search {
    z-index: 1100;
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}

.lists {
    width: 100%;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 20px;
}


.lists .box {
    height: 200px;
    background: rgba(0, 0, 0, 0.50);
    border-radius: 4px;
    display: flex;
    text-decoration: none;
    padding: 10px;
    box-shadow: #282727 0px 0px 10px;
    gap: 8px;
}

.lists .box h3 {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}


.lists .box span {
    color: #E50914;
    margin-bottom: 3px;
}

.box__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lists .bigb {
    max-height: 100%;
    border-radius: 2px;
    transition: .3s;
    margin: 8px;
}

.lists .bigb:hover {
    transform: scale(1.1);
}






@media (max-width:300px) {

    .lists .box .box__info h3 {
        font-size: 15px;
    }
}

.pagination {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination .MuiPagination-ul div {
    color: white;
}

.pagination .MuiPagination-ul li button {
    background: #E50914;
    color: white;
}



.pagination .MuiPagination-ul .Mui-selected{
    background: #fff;
    color: #E50914;

}